@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: 'Cinzel', serif;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

header {
    height: 120px;
    background-color: black;
    padding: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}



header img {
    margin: 0 auto;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

img {
    width: 100%;
}

.bg1 {
    background-image: url('../images/21FD65B8-BB73-4FB7-A22F-9CC3ED399ACD.jpeg');
    background-size: cover;
    height: 100%;
}

.bg2 {
    background-image: url('../images/F0971CAA-8525-4F07-B3B0-BCCF24F17EAC.jpeg');
    background-size: cover;
    height: 100%;
}

.bg3 {
    background-image: url('../images/D8A581A9-375E-483E-A9D1-7C4F49F4A56C.jpeg');
    background-size: cover;
    height: 100%;
}

.bg4 {
    background-image: url('../images/F7C9FECC-FDD9-453F-B1AE-CE0A393CC858.jpeg');
    background-size: cover;
    height: 100%;
}

.bg5 {
    background-image: url('../images/45E490D3-204C-434E-BBF4-B0A2295B7881.jpeg');
    background-size: cover;
    height: 100%;

}

.bg6 {
    background-image: url('../images/CD62A385-3128-49CF-9695-BDD10FD6F41D.jpg');
    background-size: cover;
    height: 100%;

}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;

    overflow: hidden;

}

nav {
    text-align: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
    z-index: 10;
}

.menu {
    display: inline-flex;
}

nav li {
    list-style-type: none;
    float: left;
    padding: 10px;
}

nav li a {
    color: white;
    text-decoration: none;
}

.grid-prices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;
    gap: 20px;
}

.centered {
    grid-template-columns: 1fr;
}

.grid-prices p {
    text-transform: uppercase;
}

.about img {
    max-width: 600px;
    padding: 40px;
    width: 100%;

}

h2 {
    font-size: 40px;
    margin: 10px 0;
    font-weight: 100;
}



h3 {
    font-size: 25px;
    margin: 10px 0;
    margin-bottom: 15px;
    font-weight: 100;
}

.purple-border {
    border-top: 1px solid #c152c2;
}


.purple {

    color: #c152c2;
}

.white {
    color: rgb(255, 255, 255);
}

span {
    display: inline-block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #c152c2;
}

span a {
    text-decoration: none;
    color: #c152c2;
}

.stars {
    color: #c152c2;
    border: 0;
    margin: 0;
}

.gallery {
    column-count: 3;
    column-gap: 5px;
}

.gallery img {
    width: 100%;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    row-gap: 100px;
}

.serving {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

footer {
    padding: 10px;
    background-color: black;
    overflow: hidden;
}

footer a {
    color: #c152c2;
    text-decoration: none;
}

.socials {
    margin-top: 30px;
}

.socials img {
    margin: 5px;
    width: 30px;
    padding: 1px;
    filter: brightness(0) saturate(100%) invert(60%) sepia(41%) saturate(2818%) hue-rotate(255deg) brightness(77%) contrast(98%);
}

.swiper {
    width: 100%;
    height: calc(100vh - 168px);
}

.swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    background-position-y: 20%;
    background-position-x: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #c152c2;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    color: #c152c2;
}

.contacts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    margin: 5px;
    padding: 20px;
    background-color: black;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 725px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

input,
textarea {
    font-family: 'Montserrat', sans-serif;
    ;
    width: 100%;
    padding: 15px;
    border: 0;
    border-bottom: 2px solid #c152c2;
    background-color: inherit;
    color: white;
    font-size: 15px;
    caret-color: #c152c2;

}

.align-left {
    text-align: left !important;
}

button {
    width: 100px;
    margin: 0 auto;
    background-color: #0000007c;
    font-size: 20px;
    color: #c152c2;
    padding: 10px;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    transition: 0.3s;
}

button:hover {
    background-color: #c152c2;
    color: #1a1a1a;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 25px;
    cursor: pointer;
}

label {
    width: 100%;
    display: block;
    padding: 15px;
    padding-bottom: 0;
    text-align: left;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input:focus,
textarea:focus {
    outline: none !important;
    background-color: black;

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: #c152c2;
}


.payment img {
    width: 120px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    transition: 0.5s;
}

.payment {
    display: inline-block;
}

.payment img:hover {
    background-color: #c152c2;
}

.support {
    text-transform: none;
    text-decoration: none;
    color: #c152c2;
    font-family: 'Montserrat', sans-serif;
}


.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    gap: 20px;
}

@media only screen and (max-width: 1000px) {
    .gallery {
        column-count: 2;
    }

    .reviews {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .contacts-grid {
        margin-bottom: 20px;
        display: block;
    }

    .contacts-grid h3 {
        margin: 30px 0;
    }
}

nav button {
    display: none;
    background-color: transparent;
}

#popular {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .gallery {
        column-count: 1;
    }

    .about img {
        padding: 0;
        margin: 40px 0;
    }

    .grid-prices,
    .grid2 {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .serving {
        display: block;
    }

    span {

        margin: 20px 0;
    }

    form {
        padding: 0;
    }

    nav button {
        display: block !important;
    }

    .menu {
        display: none;
        flex-direction: column;
    }

    nav li {
        float: none;
    }

}

@media only screen and (min-width: 769px) {
    nav button {
        display: none !important;
    }
}

@media only screen and (max-width: 420px) {

    span,
    footer a {
        font-size: 3.5vw;
        margin: 20px 0;
        padding: 5px;
    }
}

@media only screen and (min-width: 769px) {
    .menu {
        display: inline-flex !important;
    }

    nav button {
        display: none !important;
    }
}